/* font-family: 'Julius Sans One', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto Condensed', sans-serif; */

body {
	margin-bottom: 60px;
	background-image: linear-gradient(to top, #ebe7f3 0%, #e3e3ff 99%, #e3eeff 100%);
}

.all-body {
	background-image: linear-gradient(120deg, #fdfbfb 0%, #f7f9fa 100%);

	margin: 20px auto;
	border-radius: 20px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	padding-bottom: 50px;
	font-size: 17px;
	max-width: 1500px;
}

.title {
	font-family: 'Playfair Display', serif;
	font-size: 7vw;
	letter-spacing: -3px;
	padding-top: 40px;
}

.subtitle {
	margin-top: 20px;
	font-family: 'Playfair Display', serif;
	letter-spacing: -1px;
	position: relative;
	text-align: center;
	font-size: 40px;
}

.pg {
	margin-top: 10px;
}

.job-title {
	text-transform: uppercase;
	color: #626d8d;

	background-color: rgb(229, 230, 240);
	padding: 16px;
	margin: 15px auto;
	font-size: 20px;
	border-radius: 30px;
	width: 300px;
	letter-spacing: 1.3px;
}

.header {
	align-items: center;
	text-align: center;
	margin: 15px auto;
	max-width: 99vw;
}
.about-me {
	margin: 25px;
}

.headshot {
	width: 25vw;
	min-width: 175px;
	border-radius: 100%;
	margin-top: 50px;
}

.dogs {
	margin-top: 30px;
	font-weight: 700;
	height: 150px;
	width: 100%;
	position: relative;
}
.dogs img {
	height: 120px;
	filter: grayscale(100%);
	margin: 0 20px;
	transition: opacity 300ms, transform 300ms;
}

.name {
	font-size: 13px;
}

.hank img:hover {
	filter: none;
	transform: rotate(20deg);
}
.hopper img:hover {
	filter: none;
	transform: rotate(-20deg);
}

.hank:hover,
.hopper:hover {
	color: #5b6cf9;
}

.hank,
.hopper {
	color: rgba(0, 0, 0, 0);
	line-height: 17px;
	font-size: 13px;
	position: relative;
	display: inline;
	transition: color 300ms, transform 300ms;
	height: 100px;
}

#hopper-text,
#hank-text {
	position: absolute;
	top: 75px;
}

#hopper-text:hover,
#hank-text:hover {
	color: rgba(0, 0, 0, 0);
}
#hopper-text {
	right: 20%;
}
#hank-text {
	left: 0;
}
#hopper:hover,
#hank:hover {
	display: inline;
	margin-left: 0;
	z-index: 1;
	height: 100px;
	transition: opacity 300ms, transform 300ms;
}

@media only screen and (max-width: 600px) {
	body,
	.all-body {
		padding: 0;
		padding-bottom: 50px;
		width: 100vw;
		font-size: 14px;
		margin: 0;
	}
	.title {
		font-size: 12vw;
	}

	.subtitle {
		font-size: 8vw;
	}

	.about-me {
		margin: 0;
		margin-bottom: 20px;
	}

	.headshot {
		margin-top: 25px;
		top: 100px;
	}

	.headshot {
		width: 10vw;
	}

	.header {
		margin: 0;
	}

	.job-title {
		font-size: 16px;
		padding: 7px;
		margin: 3px auto;
	}
	.col {
		width: 99vw;
	}
}
